<h1>Chat</h1>
<div>
    <input type="text" id="chatBox" placeholder="Tu mensaje">
</div>
<div>
    <label for="messages">Mensajes</label>
    <p id="messageLogs"></p>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/templates.js"></script>