<h1>Recuperar contraseña</h1>

<form action="" id="forgotPasswordForm">
    <label for="email">Correo</label>
    <input type="email" name="email">

    <label for="password">Password</label>
    <input type="password" name="password">

    <button type="submit">Crear una nueva contraseña</button>
</form>

<script src="/js/forgotPassword.js"></script>