<h1>Perfil</h1>

<label for="">Nombre</label>
<p>{{user.first_name}}</p>

<label for="">Apellido</label>
<p>{{user.last_name}}</p>

<label for="">Correo</label>
<p>{{user.email}}</p>

<form action="/logout" method="GET">
    <button type="submit">Cerrar sesión</button>
</form>